* {
    box-sizing:border-box;
}
body {
    font-family:arial;
    padding:20px;
}
.cards {
    /*display:flex;
    flex-direction:row;
    flex-wrap: wrap;*/
}
.card {
    border:1px solid #ccc;
    float:left;
    width: 41%;
    /*height:225px;*/
    /*width:300px;*/
    margin:10px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    page-break-inside: avoid;
    /*padding: 5px;*/
}
.card:nth-child(2n+1){
    clear:left;
    /*border-color:red;*/
}
.card__num {
    width:100%;
    padding:20px;
    text-align:center;
}
.card__item {
    /*width:50%;*/
    text-align:center;
    align-items: center;
    vertical-align:middle;
    /*border:1px solid red;*/
    padding:0px;
    width:33%;
    border:2px solid transparent;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.card__item:hover {
    background:#f1f1f1;
}
.card__item img {
    /*width:100%;*/
    max-width:100%;
    
}
.hide{
    display:none;
}
.right {
    border:2px solid green;
}
.wrong {
    border:2px solid red;
}
.game .card:nth-child(2n+1){
    clear:none;
}
.credits {
    clear:both;
}
textarea {
    width:90%;
    height:200px;
}
.setData {
    clear:both;
}
.dataEntry:before,
.setData:after {
    content:"";
    display:table;
    clear:both;
}
.data-group {
    width:45%;
    float:left;
}
.print3x5 .card {
    height:3in;
    width:5in;
}
.print3x5 .card__item {
    
}
.print4x6 .card {
    height:4in;
    width:6in;
}
.print5x8 .card {
    height:5in;
    width:8in;
}
@media print {
    .hide-for-print {
        display:none;
    }
    body {
        padding:0;
    }
}

#urlWarning {
    border:5px solid red;
    padding:5px;
}